.coverImg {
    height: 180px;
    width: 100%;
}

.coverImg {
    height: 180px;
    width: 100%;
}

.profile-photo-down {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 60px;
}

.profile-inner {
    vertical-align: bottom;
}
.profileImg{
        width: 116px;
    height: 116px;
}
.profile-frame {

    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
    display: block;
    background-size: auto;
    background-color: #fff;
    height: 116px;
    margin-top: -50%;
    padding: 2px;
}